link(rel="stylesheet", href="/b/bootstrap/dist/css/bootstrap.min.css")
title Debate Tracker
script(src="/b/jquery/dist/jquery.min.js")
script(src="/b/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/bundle.js")