style.
    body { padding-top: 70px }
nav.navbar.navbar-default.navbar-fixed-top
    div.container.container-fluid
        a.navbar-brand Debate Tracker
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href="/") Home
                li
                    a(href="/schedule") Schedule
                li
                    a(href="/schedule/leaderboard") Leaderboard
            ul.nav.navbar-nav.navbar-right
                if user
                    li
                        a(href="/user/#{user.id}")!= user.name
                    li
                        a(href="/user/logout") Logout
                else
                    li
                        a(href="/user/login") Login
