html
    head
        include ./inc/head.jade
    body
        include ./inc/nav.jade
        .container
            .col-md-4
            .col-md-4
                .row
                    .col-md-6
                        .form-group
                            input.form-control.start-date(type="text", placeholder="Start")
                    .col-md-6
                        .form-group
                            input.form-control.end-date(type="text", placeholder="End")
                .row.team-list-row.first-row
                    .col-xs-12
                        .form-group
                            input.form-control.team-entry(type="text", placeholder="Team")
                .row
                    .col-sm-1
                        button.btn.btn-primary.add-team +
                    .col-sm-7
                    .col-sm-4
                        button.btn.btn-block.btn-primary.submit-teams Submit
                .row
                    .col-xs-12
                        .alert.alert-success.submit-success(style="display: none") Schedule Created!
                        .alert.alert-danger.submit-failure(style="display:none") Schedule Failed.
