html
	head
		include ./inc/head.jade
	body
		include ./inc/nav.jade
		.container
			form(method="POST", action="/recover")
				input(type="hidden", name="_method", value="PUT")
				p Please enter the email associated with your account:
				input(type="email", name="email")
				p
				input(type="submit", value="Submit")
				p Forgot your email? Please contact admin at ***.
