html
  head
    include ./inc/head.jade
  body
    include ./inc/nav.jade
    .container
        .panel.panel-default
            //.panel-heading= Leaderboard
            table.table
                tr
                    td Name
                    td Score
                each team in teams
                    tr
                        td= team.name
                        td= team.wins
