//expects variables:
//  match: full object of the match you want details on
//  eventually something to keep track of the user

html
    head
        include ./inc/head.jade
    body
        include ./inc/nav.jade
        .container
            .row
                .col-md-3
                .col-md-6
                    - var winner = match.winner
                    .panel.panel-default
                        .panel-heading
                            ="Match on " + match.day.date.toDateString()
                        .panel-body
                            h2= match.teams[0].name + " vs " + match.teams[1].name
                            if winner
                                h2= "Winner: " + winner.name
            if scorable
                .row
                    .col-md-3
                    .col-md-6
                        .panel.panel-default
                            .panel-heading Declare Winner
                            .panel-body
                                form(method = "POST", action= "/schedule/match/"+match.id+"/score")
                                    .form-group.btn-group(data-toggle="buttons")
                                        label.btn.btn-default
                                            input(type="radio", name=match.teams[0].id)
                                            span= match.teams[0].name
                                        label.btn.btn-default
                                            input(type="radio", name=match.teams[1].id)
                                            span= match.teams[1].name
                                    .form-group
                                        input.btn.btn-primary(type="submit", value="Submit")
            if eligibleDays
                .row
                    .col-md-3
                    .col-md-6
                        .panel.panel-default
                            .panel-heading Move Match
                            ul.list-group
                                each day in eligibleDays
                                    li.list-group-item
                                        a(href="/schedule/move/"+match.id+"/"+day.id)= day.date.toDateString()
