html
    head
        include ./inc/head.jade
    body
        include ./inc/nav.jade
        .container
            .col-md-4
            .col-md-4
                h1 User Login
                form(method = "POST", action= "/user/login")
                    div.form-group
                        input.form-control(type="text", name="name", placeholder="Username")
                    div.form-group
                        input.form-control(type="password", name="passwd", placeholder="Password")
                    input.btn.btn-primary(type="submit", value="Submit")
                a.btn.btn-success(href="/user/register") Register