html
    head
        include ./inc/head.jade
    body
        include ./inc/nav.jade
        .container
            .col-md-4
            .col-md-4
                h1= type
                p(style="word-wrap: break-word")!= message