html
    head
        include ./inc/head.jade
    body
        include ./inc/nav.jade
        .container
            .col-md-4
            .col-md-4
                h1 Register New User
                form(method = "POST", action= "/user/register")
                    div.form-group
                        input.form-control(type="text", name="name", placeholder="Username")
                    div.form-group
                        input.form-control(type="password", name="passwd", placeholder="Password")
                    if !firstUser
                        div.form-group
                            input.form-control(type="text", name="key", placeholder="Key")
                    input.btn.btn-primary(type="submit", value="Submit")
