html
  head
    include ./inc/head.jade
  body
    include ./inc/nav.jade
    .container
      each day in days
        .panel.panel-default
          .panel-heading= day.date.toDateString()
          .panel-body
            each match in matches
              if match.dayId == day.id
                - if (match.winner) {
                -    var winningTeam = match.teams.filter(x => x.id == match.winner.id)[0]
                -    winningTeam.name = "[" + winningTeam.name + "]"
                - }
                a.match.btn.btn-default(
                  href="/schedule/match/#{match.id}", style="margin: 6px 6px 0 0"
                )
                  != match.teams[0].name + " vs. " + match.teams[1].name
      form(method="POST", action="/schedule/addday")
        input.btn.btn-success(type="Submit", value="+")
      if days.length < 1
        p Schedule is empty. Would you like to <a href="/schedule/create">create</a> one?
