//expects variables:
//  match: full object of the match you want details on
//  eventually something to keep track of the user

html
    head
        include ./inc/head.jade
    body
        include ./inc/nav.jade
        .container
        .row
            .col-md-3
            .col-md-6
                .panel.panel-default
                    .panel-heading="User Page for user id " + targetUser.id
                    - var type = ""
                    - if (targetUser.privilege == "sref") {
                    -    type = "Super Referee"
                    -} else if (targetUser.privilege == "ref") {
                    -    type = "Referee"
                    -}
                    table.table
                        tr
                            td Name
                            td= targetUser.name
                        tr
                            td Type
                            td= type
                
        .row
            .col-md-3
            .col-md-6
                if canMakeKey
                    .panel.panel-default
                        .panel-heading Generate Invite Code
                        .panel-body
                            form(method = "POST", action= "/user/getkey")
                                .form-group.btn-group(data-toggle="buttons")
                                    label.btn.btn-default
                                        input(type="radio", name="sref")
                                        span Super Referee
                                    label.btn.btn-default
                                        input(type="radio", name="ref")
                                        span Referee
                                .form-group
                                    input.btn.btn-primary(type="submit", value="Submit")
